
HOSTS = ( ${DIST_HOST} )

FILES1 = ( ${APPLIC_INSTALL}/bin/${T_A} )
FILES3 = ( ${APPLIC_INSTALL}/data )

(${FILES1}) -> (${HOSTS})
	install -R ${DIST_PATH}/bin/${T_A};

(${FILES3}) -> (${HOSTS})
	install -R ${DIST_PATH}/data;

